
<!-- This page takes the input from the user and shorten it and shows it to the user -->

{% extends "base.html" %}
   
   {% block content %}
         
         <div class="jumbotron">
            <div class="container">
               <br />

               <div class="row">
                  <div class="col-md-offset-3 col-md-5">
                     <h4 class="col-md-offset-2 col-md-12 " style="color:green"><b><i>Get a condensed URL for all of your services</i></b></h4>
                     <form method="post" class="navbar-form navbar-right">
                        <div class="form-group">
                           <label for="url">Enter URL</label>
                           <input type="text" id="url" name="url" class="form-control input-lg chat-input" placeholder="url" style="border:2px solid black"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                     </form>
                  </div>
               </div>

               <!-- If there is a resultant shorten url present then only show it -->

               {% if result_url %}
               <div>
                  Your original URL is: <a href="{{ original_url }}" target="_blank"> {{ original_url }}</a>
                  <br>
                  Your shortened URL is: <a href="{{ result_url }}" target="_blank">  {{ result_url }}</a>
               </div>
               {% endif %}
               <br>
                  <h4><a href="{{ url_for('get_stats') }}" target="_blank"> <u>Get Stats</u></a></h4>
            </div>
         </div>

   {% endblock%}